.banner {
    width: 100%;
    height: 223px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        opacity: 30%;
        width: 100%;
        height: 100%;
        background-color: black;
        content: ' ';
    }
    &.dark::before {
        opacity: 60%;
    }
    h2 {
        font-family: Montserrat;
        position:absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        margin: 0;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

        text-align: center;
        color: white;
        font-weight: 700;
        font-size: 48px;
        line-height: 143%;
        vertical-align: bottom;
    
    }
    img {
        object-fit: contain;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;

    }
}
@media (max-width : 650px){
    .banner {
        height: 111px;
        h2 {
            font-size: 24px;
            text-align: left;
            padding-left: 16px;
            padding-right: 80px;
        }

    }
}