.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__logo {
        height: 68px;
    }
    &__links {
        display: flex;
        gap: 57px;
        line-height: 143%;
        font-size: 24px;

        a:hover, a.current {
            text-decoration: underline;
        }
    }
}

@media (max-width: 960px) {
    .navbar {
        &__logo {
            height: 46px;
        }
        &__links {
            font-size: 18px;
            gap: 25px;
        }
    }
}
@media (max-width: 500px) {
    .navbar {
        &__links {
            font-size: 12px;
        }
    }
}