.host {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(255, 96, 96, 1);
    
    &__hostname {
        text-align: right;
        font-size: 18px;
    }
    &__picture{
        border-radius: 100%;
        width: 64px;
    }
}

@media (max-width: 540px) {
    .host {
        &__hostname {
            font-size : 12px
        }
        &__picture {
            width: 32px;;
        }
    }
}