.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    min-width: 115px;
    padding: 0px 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    background: rgba(255, 96, 96, 1);
    font-size: 14px;
    font-weight: 700;
}